canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 320px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 500;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
 
  grid-column: 2 / span 8;
  font-size: 2.5rem;
  padding: 2rem;
  width: fit-content;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 6;
  padding: 1rem;
  background: rgba(15, 15, 15, 0.8); /* Updated background color with transparency */
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
 
  
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}


.left{
  grid-column: 6 / 12; 
}
.right{
  grid-column: 8 / 12;
  justify-content: center;
}

.image-row-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.image-item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-item:hover {
  transform: scale(1.1);
}
nav {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ffcc00;
}

.social-icons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-icon {
  margin: 0 8px;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #ffcc00;
}












